body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
}
#main{
    padding: 0;
    margin-top: -0.2cm;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background-color: #FFEBCD;

}
#head{
    height: 100px;
    background-image: url('images/banner-hoa.jpg');
    background-repeat: no-repeat; /* Ngăn không cho ảnh lặp lại */
    background-size: 100% 100%;
}
#head-link{
    background-color: #00AA00;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 14px;
}
.head-link2{
    float:left;
    width: 180px;
}
.head-link3{
    float: left;
    width: 800px;
    font-size: 16px;
}
#left{
    float: left;
    font-size: 14px;
    width: 194px;
    min-height: 400px;
    margin-bottom: 5px;
}
#left1{
    background-color: #f0fff0;
    margin-bottom: 2px;
    margin-top: 2px;
    opacity: 0.8;
    border: thin silver solid;
    border-radius: 10px;
    padding: 2px 5px 5px 8px;
}
#left2{
    background-color: #f0fff0;
    margin-bottom: 2px;
    margin-top: 2px;
    opacity: 0.8;
    border: thin silver solid;
    border-radius: 10px;
    padding: 2px 5px 5px 8px;
}
#left3{
    background-color: #f0fff0;
    margin-bottom: 2px;
    margin-top: 2px;
    opacity: 0.8;
    border: thin silver solid;
    border-radius: 10px;
    padding: 2px 5px 5px 8px;
    text-align: center;
}

#content{
    width: 600px;
    min-height: 400px;
    font-weight: bold;
    color: blue;
    float: left;
    padding: 1px 1px 5px 1px;
    margin: 1px;
    
}

#right{
    float: right;
    width: 200px;
    min-height: 400px;
    margin-bottom: 5px;
}
#footer{
    clear: both;
    background-color: #66ffff;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.tenhoa{
    text-align: center;
    background-color: #f0fff0;
    font-weight: bold;
    height: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#hoa2{
    float: left;
    margin-top: 5px;
}
#hoa3{
    float: right;
    margin-top: 5px;
}
#hoa4{
    float: left;
    margin-top: 5px;
}
#hoa5{
    float: right;
    margin-top: 5px;
}
.bo{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    display: block;
}
.tenhoa{
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
