table{
    border: 5px groove #6633FF;
    padding: 1px
}
th, td{
    border: thin solid #FFFFFF;
    padding: 5px;
}
tr.head{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #6633FF;
    text-align: center;
}
tr.odd{
    background-color: #FFEEFF;
}
tr.even{
    background-color: #CCCCFF;
}