body{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
div{
    border: thin solid #FF00FF;
    border-radius: 8px;
    width: 500px;
    padding: 5px;
    margin: auto;
}
img{
    width: 400px;
    height: auto;
}
span.tieude1{
    font-family: Brush Script MT, cursive;
    font-size: 40px;
    color: blue;
    text-shadow: 2px 2px #FF00FF;
}
span.tieude2{
    font-size: 40px;
    color: red;
}
span.noidung1{
    color: #4169E1;
}
span.noidung2{
    color: #FF8C00;
}